.feedbackcontainer {
    position: relative;
    width: 800px;
    height: 825px;
    border-radius: 0 25px 25px 25px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 6px 20px rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Desccontainer {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    margin-top: 20px;
}

.TaskDesc {
    overflow: hidden;
    transition: height 0.3s ease;
    width: 675px;
    height: 0;
    opacity: 0;
    background-color: #D3EBFF;
    border-radius: 0 20px 20px 20px;
    color: #59657D;
    padding: 0px 20px 5px 20px;
}

.TaskDesc.show {
    height: 120px;
    opacity: 1;
}

.DescTitle p {
    margin: 0;
}

.TaskDesc>p {
    overflow-y: scroll;
    height: 80%;
}

.DescTitle {
    width: 130px;
    height: 35px;
    background-color: #0060AE;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    transition: border-radius 0.5s ease;
}

.DescTitle:hover {
    background-color: #2287DA;
}

.DescTitle.rounded {
    border-radius: 10px 10px 0px 0px;
}

.res {
    position: relative;
    color: #3B4168;
    right: 250px;
    bottom: 20px;
}

.results {
    display: flex;
    flex-direction: column;
}


.criterias {
    display: flex;
    flex-direction: column;
}

.criteriaBoxF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 8px;
    column-gap: 8px;
    position: relative;
    margin-bottom: 10px;
}

.barF {
    display: flex;
    flex-direction: column;
}

.critdescF {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3B4168;
    column-gap: 8px;
}

.progbarF {
    width: 180px;
    height: 8px;
    border-radius: 64px;
    background-color: #2287DA;
    position: relative;
    bottom: 38px;
}

.infoiconcrit {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
}

.detailsF {
    color: #3B4168;
    position: absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
}


.crittooltip-containerF {
    display: inline-block;
    gap: 1px;
}

.crittooltip-containerF .crittooltipF {
    visibility: hidden;
    width: 222px;
    background-color: #12152A;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    right: 0;
    margin-left: -46px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.crittooltip-containerF .crittooltipF::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #12152A transparent transparent transparent;


}

.crittooltip-containerF:hover .crittooltipF {
    visibility: visible;
    opacity: 1;
}

.scoreBoxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 70px;
    position: relative;
    bottom: 60px;
}



.FeedContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 80px;
}

.FeedDesc {
    overflow: hidden;
    transition: height 0.3s ease;
    width: 675px;
    height: 0;
    background-color: #0060AE;
    border-radius: 0 20px 20px 20px;
    color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    opacity: 0;
}

.FeedDesc.show {
    height: 175px;
    opacity: 1;
}

.FeedDesc>p {
    overflow-y: scroll;
    height: 80%;
}

.FeedTitle {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #D3EBFF;
    color: #12152A;
    text-align: center;
    border-radius: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 325px;
    transition: border-radius 0.5s ease;
    transition: top 0.4s ease-in-out;
}

.FeedTitle.roundede {
    border-radius: 10px 10px 0px 0px;
    top: 0px;
}

.optionContainer {
    display: flex;
    flex-direction: row;
}

.option {
    width: 100px;
    height: 30px;
    background-color: #2287DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.option1 {
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #0F316C;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.feedbackbigcontainter {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
}

.option:hover {
    background-color: #FFFFFF;

}

.option:hover .searchsicon path {
    stroke: #6F7C98;

}


.FeedDesc>p::-webkit-scrollbar {
    width: 10px;
}


.FeedDesc>p::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 100px;
}

.TaskDesc>p::-webkit-scrollbar {
    width: 10px;
}



.TaskDesc>p::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 100px;
}