.feedbackcontainer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* box-sizing: border-box; */
    /* row-gap: 5%; */
    background: rgba(255, 255, 255, 0.93);
    border-radius: 0px 20px 20px 20px;
}

.TaskDlinex{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    text-align: right;
    margin: 5% 10%;
    color: #0060AE;

}

.unlineDx{
    position: relative;
    /* margin-right: 10px; */
    border: 1px solid rgba(0, 96, 174, 0.7);
}

.hg{
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}




.criterias{
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    width: 100%;
    align-items: center;
    padding: 10px 12px;


    background: #F5F6F8;
    border-radius: 8px;
}

.p5{
    position: relative;
    margin: 0px;
}

.criteriaBoxF{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.box1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.critdescF{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    justify-content: space-between;

}

.barF{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.criteriaicon{
    position: relative;
    width: auto;
}

.progressbar-internals{
    position: relative;
    width: 100%;
    height: 8px;

    background: #2287DA;
    border-radius: 64px;


    align-self: stretch;
}

.scoree{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}


.detailsF{
    position: relative;
    text-align: right;
}

.sup{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: end;
    row-gap: 5px;
}

.values{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    width: 100%;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 300px;

    width: 100%;
    height: 100%;
}

.progressbar-rounded-progress-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-color: #0060AE;
    border-style: solid;
    border-width: 10px;
    border-radius: 300px;

    width: 100%;
    height: 100%;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
}



.FeedContainer{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.FeedTitle{
    position: relative;
    width: 165px;
    height: 30px;
    padding-left: 20px;
    padding-top: 5px;

    background: #D3EBFF;
    border-radius: 10px 10px 0px 0px;

}

.lowpart{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FeedDesc{
    position: relative;
    width: calc(100% - 20px);
    height: auto;
    padding-left: 20px;
    color: white;
    background: #2287DA;
    border-radius: 0px 20px 20px 20px;

}

.lowpartt{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
