.feedbackcontaineropen {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* box-sizing: border-box; */
    /* row-gap: 5%; */
    background: rgba(255, 255, 255, 0.93);
    border-radius: 0px 20px 20px 20px;
}

.feedbackcontainer {
    display: none;
}

.TaskDlinex {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end;
    text-align: right;
    /* margin: 5% 10%; */
    color: #0060AE;
}

.unlineDx {
    position: relative;
    /* margin-right: 10px; */
    border: 1px solid rgba(0, 96, 174, 0.7);
}

.hg {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.criterias {
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    width: 100%;
    align-items: center;
    /* padding: 10px 12px; */
    padding: 2% 4%;


    background: #F5F6F8;
    border-radius: 8px;
}

.p5 {
    position: relative;
    margin: 0px;
}

.criteriaBoxF {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.box1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.critdescF {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    justify-content: space-between;

}

.barF {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.criteriaicon {
    position: relative;
    width: auto;
}

.progressbar-internals {
    position: relative;
    width: 100%;
    height: 8px;

    background: #2287DA;
    border-radius: 64px;


    align-self: stretch;
}

.scoree {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}


.detailsF {
    position: relative;
    text-align: right;
}

.sup {
    position: relative;
    display: flex;
    width: 55%;
    max-width: 300px;
    flex-direction: column;
    align-items: end;
    row-gap: 1vh;
}

.values {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    width: 100%;
}

.progressbar-score {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;
}

.hg.rounded {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.progressbar-internals {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 300px;

    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;

    width: 100%;
    height: 100%;
}

@property --progress-main-value {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@property --calculated-main-value {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@keyframes progress_main {
    to {
        --progress-main-value: var(--calculated-main-value);
    }
}

.progressbar-rounded-progress-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-color: #0060AE;
    border-style: solid;
    border-width: 10px;
    border-radius: 300px;

    width: 100%;
    height: 100%;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-criteria-outer {


    background-color: rgb(211, 235, 255);
    border-radius: 100px;

    width: 100%;
    height: 5px;
}

.progress-criteria-inner {

    background-color: rgb(0, 96, 174);
    border-radius: 100px;

    height: 5px;
}

.FeedContainer {
    position: relative;
    width: 90%;
    margin-right: 1%;
    height: auto;
    max-height: 19vh;
    display: flex;
    flex-direction: column;
    /* -ms-flex-item-align: start; */
}

.FeedDesc.hide {
    position: relative;
    overflow-y: auto;
}


.FeedDesc.hide>p {
    margin-top: 0.5vh;
}

.FeedDesc.hide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #F5F5F5;
}

.FeedDesc.hide::-webkit-scrollbar {
    /* margin-top: 10px; */
    width: 10px;
    background-color: #F5F5F5;
}

.FeedDesc.hide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: white;
}

.FeedTitle {
    position: relative;
    width: 165px;
    height: 30px;
    padding-left: 20px;
    padding-top: 5px;

    background: #D3EBFF;
    border-radius: 10px 10px 0px 0px;

}

.res {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    margin: 0px;
    /* text-align: left; */
}

.lowpart {
    position: relative;
    /* margin-top: 3rem; */
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.FeedDesc {
    position: relative;
    width: calc(100% - 20px);
    height: auto;
    max-height: 10rem;
    padding-left: 20px;
    color: white;
    background: #2287DA;
    border-radius: 0px 20px 20px 20px;
    overflow: auto;
}

.FeedDesc .inner {
    margin-right: 20px;
}

.lowpartt {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 30px;
}

.crittooltip-containerF {
    display: inline-block;
    gap: 1px;
}

.infoiconcrits {
    position: relative;
    bottom: 0.5rem;
}

.crittooltip-containerF .crittooltipF {
    visibility: hidden;
    width: 222px;
    background-color: #12152A;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    right: 0;
    margin-left: -46px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.crittooltip-containerF .crittooltipF::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #12152A transparent transparent transparent;


}

.crittooltip-containerF:hover .crittooltipF {
    visibility: visible;
    opacity: 1;
}



.more-details-btn {
    cursor: pointer;
    margin-top: 0.5em;
}

.parent-container {
    position: relative;
    /* Adjust this to fit your layout */
}

.criterion-details {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    z-index: 10;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    padding-top: 0em;
    border-radius: 0px 0px 10px 10px;
}

.criterion-details.expanded {
    max-height: 6.25em;
    overflow-y: auto;
    opacity: 1;
}

.pdetails {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
}

.criteriaT {
    font-size: 15px;
}