.NavContanaire {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 64px;
    background-color: #FFFFFF;
}

.IULogo {
    position: relative;
    left: 28px;
    top: calc(50% - 36px/2);
}

.choices {
    color: #0071CE;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
}

.navcontent {
    position: relative;
    left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
    justify-self: center;
}

.PProfile {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-self: center;
    left: 400px;
}

.msgNotif {
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 6px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ProfileBox {
    width: 145px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    transition: background-color 0.8s ease;
    cursor: pointer;
}



.pdp {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
}

.pdpt {
    color: #3B4168;
    transition: color 0.8s ease;
}

.ProfileBox:hover {
    background-color: green;
}

.ProfileBox:hover .pdpt {
    color: white;
}
