.NavContanaire {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 64px;
    background-color: #FFFFFF;
}

.IULogo {
    position: relative;
    left: 28px;
}

.navcontent {
    display: flex;
    column-gap: 2.3vw;
    

}

.choices{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #3B4168;
}

.PProfile {
    right: 10px;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.msgNotif {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 6px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.ProfileBox {
    position: relative;
    right: 28px;
    width: 145px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.pdp {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
}

.ProfileBox > p {
    color: #3B4168;
    transition: color 0.8s ease;
}
