.profilepage {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 2%;
    margin-top: 10vh;
}

.profileimg {
    z-index: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 50%;
    top: 0px;
}

.infobox {
    position: relative;
    width: 700px;
    height: 175px;
    border-radius: 25px;
    background-color: #0060AE;
    margin: 30px;
    display: flex;
    align-items: center;
    top: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.name {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: -50px;
}

.surname {
    margin-top: -30px;
}

.profilecontainer {
    position: absolute;
}

.id {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infocontent {
    display: flex;
    flex-direction: row;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    gap: 5px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.role {
    color: #FFFFFF;
    margin-top: 0px;
}

.idicon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    gap: 1px;
}

.tooltip-container .tooltip {
    visibility: hidden;
    width: 75px;
    background-color: #12152A;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 75%;
    margin-left: -46px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tooltip-container .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #12152A transparent transparent transparent;


}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.Part1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 150px;
    top: 25px;
}

.progress {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    row-gap: 20px;
}

.Ptitle {
    color: #3B4168;
    margin-bottom: -30px;
}

.activity {
    width: 430px;
    height: 130px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.avgrade {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.avgactivity {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

.box {
    width: 180px;
    height: 180px;
    border-radius: 16px;
    background-color: #0060AE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.stats {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.staticon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    top: 20px;
}

.statnumber {
    color: #FFFFFF;
    position: relative;
    left: 20px;
}

.stattype {
    color: #FFFFFF;
    position: relative;
    left: 20px;
    margin-top: -35px;
    font-weight: 500;
}

.stattoday {
    color: #FFFFFF;
    position: relative;
    left: 25px;
    margin-top: -15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.btn {
    align-self: flex-end;
    margin-right: 30px;
}

.resetbtn {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3B4168;
    background-color: #FFFFFF;
    width: 105px;
    height: 52px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.6s ease, color 0.6s ease;
}

.resetbtn:hover {
    background-color: #C41717;
    color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.criteriaBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 120px;
    background-color: #F5F6F8;
    border-radius: 8px;
    column-gap: 8px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
}

.critdesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #12152A;
    column-gap: 8px;
}

.progbar {
    width: 400px;
    height: 8px;
    border-radius: 64px;
    background-color: rgb(211, 235, 255);
    position: relative;
    bottom: 38px;
}

.bar {
    display: flex;
    flex-direction: column;
}

.Part2 {
    position: relative;
    left: 1222px;
    top: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.infoiconcrit {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
}

.details {
    color: #12152A;
    position: absolute;
    top: 79px;
    right: 20px;
    cursor: pointer;
}

.crittooltip-container {
    display: inline-block;
    gap: 1px;
}

.crittooltip-container .crittooltip {
    visibility: hidden;
    width: 222px;
    background-color: #FFFFFF;
    color: #12152A;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    right: 30%;
    margin-left: -46px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.crittooltip-container .crittooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;


}

.crittooltip-container:hover .crittooltip {
    visibility: visible;
    opacity: 1;
}

.scoreBoxes {
    display: flex;
    flex-direction: row;

}

@property --progress-value {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
  }

@property --calculated-value {
    syntax: '<number>';
    initial-value: 1;
    inherits: false;
  }


@keyframes progress {
    to { --progress-value: var(--calculated-value); }
}

@keyframes fill {
    to { width: var();}
}

#progressChart {
    width: 50%;
    height: 150px;
}

.progressbar-rounded{
    width: 300px;
    height: 300px;
    animation: fill 2s ease-out forwards;
}

.progressbar-internals{
    transition: width 1.5s ease-in-out;
}

.progressbar-rounded-base-circle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 300px;
    background: 
        radial-gradient(closest-side, white 80%, transparent 80%, transparent 100%), 
        conic-gradient(rgb(0, 96, 174) calc(var(--progress-value) * 1%), rgb(211, 235, 255) 0deg);
}

.progressbar-rounded-base-circle h3, h6{
    margin: 0;
}