.query {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    max-width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.queryname-input {
    flex: 1;
    margin: 0px 25px 0px 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.queryname-input:focus {
    outline: none;
    border-color: #3b4168;
}

.query.selected {
    background: linear-gradient(100deg, rgba(151, 71, 255, 0.616) 0%, rgb(137, 135, 255) 100%);
    border-radius: 15px;
    padding: 0.25rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

.queryname {
    flex: 1;
    margin: 0px 25px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}