.sidebarhidden{
    position: relative;
    z-index: 1;
    height: calc(100vh - 64px);
    width: 53px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    animation: slidein 0.6s ease-out;

}

.sidebarhiddenhd{
    transition: all 0.3s ease-in-out;
    display: none;
}


.iconshidden{
    position: relative;
    top: 24px;
    left: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    /* bottom: 20px; */
}

.gradient{
    position: absolute;
    bottom: 0px;
}


.icons-hidden-bottom{
    z-index: 1;
    position: relative;
    left: 12px;
    bottom: 15px;;
    display: flex;
    flex-direction: column;

}

.sidebar {
    position: relative;
    z-index: 1;
    width: 300px;
    height: calc(100vh - 64px);
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    animation: slidein 0.3s ease-in-out;
    
}

.sidebar.enter{
    opacity: 1;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
        /* width: -300px; */

    }
  
    to {
        transform: translateX(0%);
        transition: all 0.3s ease-in-out;
        /* width: 300px; */

    }
  }

.gradient-mn{
    position: absolute;
    bottom: 0px;
}

.sidebarhd{
    /* transition: transform 300ms ease-out;
    transform: translateX(-100%);  */
    animation: slidein 0.3s ease-in-out;
    display: none;
}



.sidetitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 18px 10px;
}

.gpttitle{
    text-decoration: none;
}

.gpttitle > h4{
    margin: 0px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64vh;
}

.historysearch{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.historyinpt{
    background: #FAFAFF;
    width: 185px;
    padding-left: 35px;
    margin-right: 24px;
    height: 30px;
    border: 1px solid #3B4168;
    border-radius: 25px;
}

.historyinpt::placeholder{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #909EBB;
}

.searchicon{
    position: relative;
    left: 30px;
}

.latest {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 103px;
}

.querylist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

}

.sideindex{
    background-color: white;
}

.Date{
    margin: 0px;
}

.icons-nothidden {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.profile{
    display: flex;
    height: 20px;
    flex-direction: row;
    align-items: center;
    margin-right: 150px;
    column-gap: 10px;
}

.profile > p {
color: #3B4168;
}

.prof {
    text-decoration: none;
}

.info{
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-right: 164px;
    padding-bottom: 10px;
}

.info > p {
    color: #3B4168;
}

/* .queries {
    display: flex;
} */



/* .sidebarhidden {
    position: absolute;
    margin: 0;
    background-color: #FFFFFF;
    width: 53px;
    height: 100vh;
    box-shadow: 4px 0px 4px #AAABFA opactiy 25%;
    background: radial-gradient(circle at 1000px 50%, #AAABFA, #FFFFFF);
    background-position: center;
}

.menuiconhidden {
    position: absolute;
    left: 14px;
    top: 20px;
    cursor: pointer;
}

.chaticonhidden {
    position: absolute;
    left: 14px;
    top: 78px;
    cursor: pointer;
}

.profileiconhidden {
    position: absolute;
    left: 12px;
    top: 828px;
    cursor: pointer;
}

.infoiconhidden {
    position: absolute;
    left: 12px;
    top: 863px;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: -300px;
    width: 300px;
    height: 105vh;
    background-color: #FFFFFF;
    transition: left 0.8s ease;
    z-index: 999999;
    background: radial-gradient(circle at 1000px 1000px, #AAABFA, #FFFFFF);
}

.sidebar.sidebar-visible {
    left: 0;
}


.sidetitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.menuiconout {
    position: relative;
    left: 10px;
    cursor: pointer;
}

.chaticonout {
    position: relative;
    left: 10px;
    cursor: pointer;
}

.gpttitle {
    position: relative;
    color: #9747FF;
    left: 10px;
}

.historysearch {
    position: relative;
    width: 220px;
    height: 30px;
    display: flex;
    align-items: center;
    left: 15px;
}

.historyinpt {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #FAFAFF;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: solid 2px;
    padding-left: 35px;
}

.historyinpt::placeholder {
    color: #909EBB;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.searchicon {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.fav {
    color: #3B4168;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 20px;
}

.favicon {
    position: relative;
    left: 125px;
    transition: 0.4s;

}

.favicon:hover {
    background-color: #273B4A;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    transition: 0.8s;
    cursor: pointer;
}

.query {
    position: relative;
    top: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: center;
    color: #3B4168;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}

.actions {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.history {
    position: absolute;
    color: #FFFFFF;
    top: 170px;
    left: 35px;
}

.queries {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3B4168;
    left: 20px;
    gap: 10px;
    top: 828px;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3B4168;
    left: 20px;
    gap: 10px;
    top: 875px;
}

.likeicon path {
    fill: none;
    stroke: #3B4168;
    transition: fill 0.8s ease, stroke 0.8s ease;
}



.likeicon:hover path {
    fill: #FF4033;
    stroke: #FF4033;
}

a {
    text-decoration: none;
}

.likeicon.liked path {
    fill: #FF4033;
    stroke: #FF4033;
}

.Date {
    color: #3B4168;
} */