.panelscontainer{
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100vh);
    /* overflow-x: auto; */
}

.leftgradient{
    z-index: -1;
    position: relative;
    bottom: -437px;
    
}