.panelcontainer {
    display: flex;
    flex-direction: column;
}

.taskcontainer {
    position: absolute;
    width: 252px;
    height: 825px;
    border-radius: 0 0px 0px 25px;
    background-color: #0060AE;

}

.tasktitle {
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    right: 20px;
}

ul {
    position: relative;
    list-style: none;
    left: 35px;
    bottom: 40px;
}

li {
    color: white;
    text-align: center;
}

.listbox {
    background: linear-gradient(100deg, rgba(0, 96, 174, 1) 0%, rgba(211, 235, 255, 0.5) 100%);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blured {
    width: 800px;
    height: 825px;
    background-color: rgba(18, 21, 42, 0.25);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: fadeIn 1s ease-in-out;
}

.panel.open {
    position: absolute;
    top: 126px;
    left: 1009px;
    z-index: 2;
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.panel {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}