.DescCont {
    position: relative;
    height: 100%;
    width: 100%;
    /* padding: 10% 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* Rectangle 4179 */

    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.93);
    border-radius: 0px 20px 20px 20px;

}

.DescConthd {
    display: none;
}

.close {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #0060AE;
}

.TaskDline {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto auto;
}

.unlineD {
    position: relative;
    /* margin-right: 10px; */
    border: 1px solid rgba(0, 96, 174, 0.7);
}

.TaskD {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    /* padding-bottom: 10%; */
}

.low{
    position: relative;
    display: flex;
    margin-bottom: auto;
    height: 85%;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    /* justify-content: space-around; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

.Titlesdes {
    position: relative;
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 0px;
    row-gap: 1vh;
    align-items: flex-start;
}

.Dividers {
    position: relative;
    width: 70%;
    margin: 2vh auto 0px auto;

    border: 2px solid rgba(0, 96, 174, 0.25);
    border-radius: 10px;
}


.sec{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
}

.DescD {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
}



/* .DescCont {
    position: relative;
    width: 717px;
    height: 750px;
    border-radius: 0 25px 25px 25px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
}

.CloseTask {
    color: #0060AE;
    text-align: right;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.unlineD {
    background-color: #0060AE;
    height: 0.25rem;
    width: 40rem;
    margin-bottom: 5rem;
    border-radius: 50px;
    opacity: 70%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.DescCont.openD {
    position: absolute;
    top: 10.25rem;
    left: 65.6rem;
    z-index: 2;
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.DescCont {
    display: none;
}



.close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 17rem;
    cursor: pointer;
}

.Xclose {
    margin-top: 2.28rem;
}

.TaskDline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.TaskD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}

.DescD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 2rem;
} */